<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="config">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/remixicon.css}" rel="stylesheet">
    <meta name="readdy-project-version" content="2b8ad44f12...ab5">
    <link rel="stylesheet" crossorigin="" th:href="@{/css/index.css}">
    <link rel="modulepreload" as="script" crossorigin="" th:href="@{/js/page.js}">
    <link rel="modulepreload" as="script" crossorigin="" th:href="@{/js/Footer.js}">
</head>
</html>